html {
	background: #faf8f8;
	height: 100%;
	width: 100%;
}
h1 {
	font-family: 'Varela Round', Arial, sans-serif;
	font-variant: small-caps;
	color: #b56357;
}

h2 {
	font-family: 'Varela Round', Arial, sans-serif;
	color: #39646b;
}

h4 {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 20px;
}

h5 {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 16px;

}

body {
	font-family: 'Montserrat', Arial, sans-serif;
	background-color: transparent;
	padding: 5px;
	color: #472f31;
}

.activity {
	background: #fcfcfc;
	border: 2px solid #b0a9a9;
	border-radius: 10px;
	width: 500px;
	height: auto;
	margin-bottom: 20px;
	padding: 20px;
	padding-top: 0px;
}

.NavigationBar {
        background: transparent;
        border: 1px solid #b0a9a9;
        border-style: hidden hidden solid hidden;
        border-radius: 0px;
        font-family: 'Montserrat', Arial, sans-serif;
        width: 75%;
        text-align: center;
        padding-bottom: 15px;
}

a:link {
        background-color: transparent;
        color: #472f31;
        padding: 5px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        border-radius: 1px;
        -o-transition:.2s;
        -ms-transition:.2s;
        -moz-transition:.2s;
        -webkit-transition:.2s;
        transition:.2s;

}
a:hover {
        background: #f2d7d3;
        border: hidden;
        border-radius: 5px;
}



a:visited {
        color: #472f31;
}


